   ------
UNICORE Workflow service
   ------
   
UNICORE Workflow service release ${project.version}

  The UNICORE Workflow service provides advanced workflow processing
capabilities using UNICORE resources.  The Workflow service provides
graphs of activities including high-level control constructs
(for-each, while, if-then-else, etc), and submits and manages the
execution of single UNICORE jobs.

  For more information about UNICORE visit http://www.unicore.eu

Prerequisites for running the UNICORE Workflow service
    
 * Java 8 (or later)
 
 * A UNICORE installation including a shared Registry, and one or more
   execution sites.

Full manual

 * {{{./workflow-manual.html}HTML format}} 

 * {{{./workflow-manual.pdf}PDF format}} 

