   ------
UNICORE Workflow System
   ------
   
UNICORE Workflow System release ${project.version}

  The UNICORE Workflow System provides advanced
workflow processing capabilities using UNICORE Grid resources.
Its main components are the Workflow Engine and the 
Service Orchestrator. While the Workflow Engine provides high-level
control constructs (for-each, while, if-then-else, etc), the
Service Orchestrator contains a powerful, extensible resource
broker, and deals with execution of single UNICORE jobs.

  For more information about UNICORE visit http://www.unicore.eu

Prerequisites for running the UNICORE Workflow system
    
 * Java 8 (or later) runtime environment or SDK
 
 * A UNICORE installation including shared registry, storage
   and one or more execution sites.

Full manual

 * {{{./workflow-manual.html}HTML format}} 

 * {{{./workflow-manual.pdf}PDF format}} 

